<div [ngClass]="{ show: showFilter }" class="sidebar left show">
    <div class="example-container">
        <h2>Filter Data</h2>
        <div class="filter-list">
            <div class="filter-list--item" *ngFor="let item of filterList; let i = index">
                <mat-checkbox>Filter {{i + 1}}</mat-checkbox>
            </div>
        </div>
    </div>
    <button mat-icon-button class="filterbutton" (click)="showFilter = !showFilter">
        <i class="material-icons">
            filter_list
        </i>
    </button>
</div>

<mat-card>
    <div class="coco-bpm-graph" id="graph" style="height: calc(100vh - 96px);"></div>
</mat-card>

<div class="clickShield" *ngIf="showSide" (click)="showSide = false"></div>
<div [ngClass]="{ show: showSide }" class="sidebar show">
    <div class="example-container">

        <div *ngIf="selectedNode">
            <mat-list>
                <mat-list-item>SourceId: {{selectedNode.SourceId}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>SourceIP: {{selectedNode.SourceIP}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>SourceProdName: {{selectedNode.SourceProdName}}</mat-list-item>
            </mat-list>
        </div>
    </div>
</div>